# Embedded git repos
mihomo-alpha/
mihomo-go/
github.com/

# Sensitive files - WiFi handshakes and credentials
*.cap
*.hccap
*.hc22000
*.pcap
wifite2-2.2.5/hs/
wifite2-2.2.5/handshakes_export/
wifite2-2.2.5/cracked.txt
wifite2-2.2.5/rockyou.txt
wifite2-2.2.5/vuln_protocols.json
wifite2-2.2.5/vuln_protocols.txt

# Password dictionaries
Password-Dictionary-main/*.txt
Password-Dictionary-main/*.exe
wifite2-2.2.5/*.txt

# Large files
*.zip

# Other
.DS_Store
